<h1><%= @brand.name %></h1>
<div class="row">
  <div class="col-sm-6">
    <h3>Stores</h3>

    <% if @brand.stores.any? %>
    <ul>
      <% @brand.stores.each do |store| %>
      <li><a href="/store/ <%= store.id %>"> <%= store.name %></a></li>
      <% end %>
    </ul>
    <% else %>
      <p>This brand needs to be in stores!</p>
    <% end %>
  </div>
  <div class="col-sm-3 " >

    <form class="form-group" action="/brand/<%= @brand.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <select name="store" class="selectpicker">
        <% @stores.each do |store| %>
        <option value="<%= store.id %>"><%= store.name %></option>
        <% end %>
      </select>
      <button class="btn btn-primary" type="submit" name="button">Add to Store</button>
    </form>

    <form action="/brand/<%= @brand.id %>/name" method="post">
      <input type="hidden" name="_method" value="patch">
      <label for="new_brand">Rename Your Brand</label>
      <input type="text" name="new_brand" value="">
      <button class="btn btn-primary pull-right" type="submit" name="button">Rename Brand</button>
    </form>

    <form class="form-group" action="/brand/<%= @brand.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <label for="delete_brand">Delete This Brand</label>
      <button class="btn btn-primary" type="submit" name="button">Delete Brand</button>
    </form>
      <h3><a href="/">Home</a></h3>
      <h3><a href="/brands">Brands</a></h3>
  </div>
</div>
