<h1><%= @store.name %></h1>
<div class="row well">
  <div class="col-sm-6">
    <h3>Brands</h3>

    <% if @store.brands.any? %>
    <ul>
      <% @store.brands.each do |brand| %>
      <li><a href="/brand/ <%= brand.id %>"> <%= brand.name %></a></li>
      <% end %>
    </ul>
    <% else %>
      <p>This store needs brands!</p>
    <% end %>

    <form class="form-group" action="/store/<%= @store.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <select name="brand">
        <% @brands.each do |brand| %>
        <option value="<%= brand.id %>"><%= brand.name %></option>
        <% end %>
      </select>
      <button type="submit" name="button">Carry this brand</button>
    </form>

    <form class="form-group" action="/store/<%= @store.id %>/name" method="post">
      <input type="hidden" name="_method" value="patch">
      <label for="new_store">Rename Your Store</label>
      <input type="text" class = "form-control" name="new_store" value="">
      <button type="submit" name="button">Rename Store</button>
    </form>
    <form class="form-group" action="/store/<%= @store.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <label for="delete_store">Delete This Store</label>
      <button type="submit" name="button">Delete Store</button>
    </form>
  </div>
</div>

<h3><a href="/">Home</a></h3>
<h3><a href="/stores">Stores</a></h3>
